<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/amaly/Documents/AutoCAD Projects/MD04 DD SET.dst</key>
	<dict>
		<key>Nodes</key>
		<array/>
		<key>Visible Point</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAA==
		</data>
	</dict>
	<key>/Volumes/Architecture/13616 MINDEN STILLS/DRAWINGS/CURRENT/2D/CREAMERY/13616 PLOT SET/13616 CREAMERY.dst</key>
	<dict>
		<key>Nodes</key>
		<array>
			<dict>
				<key>Collapsed</key>
				<false/>
				<key>Node ID</key>
				<data>
				Hxkl2D48QG6ShEaO6BqtLA==
				</data>
				<key>Selected</key>
				<true/>
			</dict>
		</array>
		<key>Visible Point</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAA==
		</data>
	</dict>
	<key>/Volumes/Architecture/13616 MINDEN STILLS/DRAWINGS/CURRENT/2D/MILL/13616 PLOT SET/13616 MILL.dst</key>
	<dict>
		<key>Nodes</key>
		<array>
			<dict>
				<key>Collapsed</key>
				<true/>
				<key>Node ID</key>
				<data>
				fwaIN6jVT9OhAmV60cQL8Q==
				</data>
				<key>Selected</key>
				<false/>
			</dict>
			<dict>
				<key>Collapsed</key>
				<false/>
				<key>Node ID</key>
				<data>
				Aa9P1H2vTzOWm2A0wznDOg==
				</data>
				<key>Selected</key>
				<true/>
			</dict>
		</array>
		<key>Visible Point</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAA==
		</data>
	</dict>
	<key>/Volumes/Architecture/13616 MINDEN STILLS/DRAWINGS/CURRENT/2D/SITE/13616 PLOT SET/13616 SITE.dst</key>
	<dict>
		<key>Nodes</key>
		<array>
			<dict>
				<key>Collapsed</key>
				<false/>
				<key>Node ID</key>
				<data>
				sevHkdU4RcG0M1IH6B694Q==
				</data>
				<key>Selected</key>
				<true/>
			</dict>
		</array>
		<key>Visible Point</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAA==
		</data>
	</dict>
	<key>/Volumes/Interiors/14716_Apple Marcom 870 Maude MD04/DRAWINGS/CURRENT/2D/14716 Plot Set/MD04 DD SET.dst</key>
	<dict>
		<key>Nodes</key>
		<array>
			<dict>
				<key>Collapsed</key>
				<false/>
				<key>Node ID</key>
				<data>
				d5pXobVfQn24z01VmLBSag==
				</data>
				<key>Selected</key>
				<true/>
			</dict>
		</array>
		<key>Visible Point</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAA==
		</data>
	</dict>
</dict>
</plist>
